body {
    color: #0071bc;
    background-color: #ffffff;
}

.block-blue {
    padding-top: 65pt;
    padding-bottom: 15pt;
    color: #ffffff;
    background-color: #0071bc;
}

a {
    font-size: 9pt;
    color: #1fa2ff;
}

a:hover {
    color: #96dbf9;
    text-decoration: none;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid #1fa2ff;
    background-color: transparent;
    color: #0071bc;
    font-size: 10pt;
}

input:focus {
    outline: none;
}

h1 {
    color: #ffffff;
    /* margin: 2vh;
    padding: 3vh; */
    text-align: center;
}

h2 {
    margin: 10pt;
    padding: 5pt;
}

h3 {
    margin: 10pt;
    padding: 5pt;
}

h5 {
    margin: 1vh;
    padding: 2vh;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ffffff;
    margin: 1em 0;
    padding: 0;
}

.navbar-custom{
    font-family: "Open Sans", sans-serif;
    max-width: 1600px;
    margin: 0 auto;
    padding: 5pt 1rem;
    -webkit-transition:all 200ms ease-in-out;
    transition:all 200ms ease-in-out;
}
header.fixed-top.scrolled .navbar-custom{
    padding: 5pt 1rem;
    -webkit-transition:all 200ms ease-in-out;
    transition:all 200ms ease-in-out;
}
header.fixed-top .navbar-custom img.onnx-logo{
    height: 30pt;
    -webkit-transition:all 200ms ease-in-out;
    transition:all 200ms ease-in-out;
}
header.fixed-top{
    top: 0;
    -webkit-transition:all 200ms ease-in-out;
    transition:all 200ms ease-in-out;
}
header.fixed-top.scrolled{
    position:fixed;
    padding: 0 0;    
    background-color: rgb(0, 0, 0);
    -webkit-transition:all 200ms ease-in-out;
    transition:all 200ms ease-in-out;
} 

.navbar-custom .navbar-nav .nav-item:not(:last-child) .nav-link{
    border-right: 2px solid #1fa2ff;   
}

.navbar-custom .navbar-nav .nav-link{
    color: #ffffff;
    font-weight: bold;
    position: relative;
    padding: 0;
    line-height: 1;    
}
.navbar-custom .navbar-nav .nav-link:focus{
    outline: 1px solid #ffffff;
}
.navbar-custom .navbar-nav .nav-item{
    padding: .5rem 0 .5rem 1rem;
}

.header-link:hover {
    color: #96dbf9;
}

.search {
    display: block;
    margin: auto;
    padding-top: 15px;
    margin-bottom: 15px;
    min-width: 15vw;
}

.score-headers {
    text-align: center;
}

.centered {
    height: 80pt;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.nav-tabs .nav-item .nav-link {
    border-bottom: 0px;
    background-color: transparent;
    color: #7ed4f8;
    font-size: 10pt;
}

.nav-tabs .nav-item .nav-link:hover {
    border-bottom: 0px;
    background-color: transparent;
    color: #1fa2ff;
    font-size: 10pt;
}

.nav-tabs .nav-item .nav-link.active {
    border-bottom: 0px;
    background-color: transparent;
    color: #1fa2ff;
    font-size: 10pt;
}

.section {
    padding: 10pt;
}

.min-section {
    padding: 10pt;
    max-width: 50vw;
}

.max-section {
    padding: 50pt;
    min-width: 90vw;
}

.navigation {
    text-align: center;
    font-size: 9pt;
    fill: #1fa2ff;
}

.navigation:hover {
    font-size: 9pt;
    fill: #96dbf9;
}

.svg-stroke {
    stroke: #1fa2ff;
}

.svg-stroke:hover {
    stroke: #96dbf9;
}

.table-chart {
    width: 30pt;
    height: 30pt;
}

.table {
    color: #000000;
    border-bottom: 1px solid #dfdfdf;
    background-color: #ffffff;
}

.transposed {
    font-size: 10pt;
}

.transposed tr {
    display: block;
    float: left;
}

.transposed th {
    display: block;
}

.transposed td {
    display: block;
}

.passed {
    color: #1fa2ff;
}

.failed {
    color: #99a5ad;
}

.A {
    color: #1fa2ff;
    font-size: 30pt;
}

.B {
    color: #68c0ff;
    font-size: 30pt;
}

.C {
    color: #a2d8ff;
    font-size: 30pt;
}

.D {
    color: #c1ddf1;
    font-size: 30pt;
}

.F {
    color: #b3bfc7;
    font-size: 30pt;
}

@media only screen and (max-width: 991px) {
    .navbar-custom .navbar-nav .nav-item:not(:last-child) .nav-link{
        border-right: none;
    }
    header.header-collapse .navbar-custom .navbar-collapse{
      border-top:1px solid #ffffff;
      background-color: #000000;
      -webkit-transition:0.3s;
      transition:0.3s;
    }
}
