<!DOCTYPE html>
<html lang="en">

<head>
    {% block head_libs %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0" defer></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous" defer></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" defer></script>
    {% endblock %}
    {% block head_stylesheet %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="./resources/css/base.css" />
    {% endblock %}
    <title> ONNX Backend Scoreboard {% block title %}{% endblock %}</title>
    {% block meta %}
    {% endblock %}
</head>

<body>
    <div>
        {% block header %}
            <header class="fixed-top header-content"  style="background-color: black">
                <div class="bg-overlay">
                    <nav class="navbar navbar-expand-lg navbar-custom" aria-label="Main menu">
                        <a id="ONNXLogo" class="navbar-brand"  href="http://onnx.ai/" target="_blank">
                            <img src="resources/images/ONNX-Logo.svg" class="d-inline-block align-top onnx-logo" alt="ONNX Home" />
                        </a>
                        <button class="navbar-toggler p-0" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse border-md-top mt-md-0 mt-2" id="navbarNav">
                            <div class="mr-auto"></div>
                            <div class="my-md-2 mb-0 mt-2 my-lg-0 pl-3 pl-lg-0">
                                <ul class="navbar-nav navbar-nav mr-auto text-uppercase" id="navigation">
                                    <li class="nav-item">
                                        <a class="nav-link pr-3" href="https://github.com/onnx/backend-scoreboard/blob/master/ADD-BACKEND.md">ADD NEW BACKEND</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link pr-3" href="https://github.com/onnx/backend-scoreboard">GITHUB</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link pr-3" href="http://onnx.ai/" target="_blank">onnx.ai</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
        {% endblock %}
    </div>
    <div>
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        {% block footer %}{% endblock %}
    </div>
    {% block body_scripts %}
        <script src="./resources/src/main.js" defer></script>
    {% endblock %}
</body>

</html>
