{% extends "base.html" %}

{% block title %}{{ framework_data.name }}{% endblock %}
{% block content %}
<div id="content" framework_data='{{ framework_data|tojson }}'>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-auto">
                <h1>{{ framework_data.name }}</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div>
                {% with data=framework_data %}
                    {%include "score_table_details.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto section">
                <canvas id="bar_chart" height="400pt" width="400pt"></canvas>
            </div>
            <div class="col-auto section">
                <canvas id="line_trend" height="400pt" width="800pt"></canvas>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col section">
                {% with database={"framework": framework_data} %}
                    {%include "table_tabs.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body_scripts %}
    <script src="./resources/src/main.js" defer></script>
    <script src="./resources/src/bar_chart.js" defer></script>
    <script src="./resources/src/line_chart.js" defer></script>
    <script src="./resources/src/table_search.js" defer></script>
{% endblock %}
