{% extends "base.html" %}

{% block content %}
<div class="container-fluid" id="content" database='{{ database|tojson }}'>
    <div class="row justify-content-center">
        <div class="col-auto">
            <h1>ONNX Backend Scoreboard</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <p>Score is based on ONNX backend unit tests</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            {% if development_versions_selected %}
                <h5>Development Builds</h5>
            {% else %}
                <h5>Stable Builds</h5>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            {% if development_versions_selected %}
                <a href="index.html">switch to stable builds</a>
            {% else %}
                <a href="index_dev.html">switch to development builds</a>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            {%include "score_table.html" %}
        </div>
    </div>
</div>

{% endblock %}
