<table class="table">
    <tr class="score-headers">
        <th scope="col">&nbsp</th>
        <th scope="row">Version</th>
        <th scope="row">Date</th>
        <th scope="row">Score</th>
        <th scope="row">Coverage</th>
        <th scope="row">Details</th>
    </tr>
    {% for backend, backend_data in database.items() %}
    <tr>
        <th scope="row">
            <div class="centered">
                {{ backend_data.name }}
            </div>
        </th>
        <td>
            <div class="centered">
                {% for package in backend_data.trend[-1].versions %}
                    {{ package.name }}:&nbsp{{ package.version }}<br>
                {% endfor %}
            </div>
        </td>
        <td>
            <div class="centered">
              {{ backend_data.trend[-1].date }}
            </div>
        </td>
        <td>
            <div class="centered">
                 <div class='{{backend_data.coverage.mark}}'>
                    {{ "{:,.2f}%".format(backend_data.coverage.passed) }}
                </div>
            </div>
        </td>
        <td>
            <div class="centered">
                <div>
                    <canvas width="100" height="60" id='circle_{{ backend_data.name }}'></canvas>
                </div>
            </div>
        </td>
        <td>
            <div class="centered">
            {% if development_versions_selected %}
                <a href='{{ backend }}_details_dev.html'>
                    {%include "svg_arrow_right.svg" %}
                </a>
            {% else %}
                <a href='{{ backend }}_details_stable.html'>
                    {%include "svg_arrow_right.svg" %}
                </a>
            {% endif %}
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
