<table class="table">
    <tr class="score-headers">
        <th scope="col">&nbsp</th>
        <th scope="row">Version</th>
        {% if data.dockerfile_link %}
            <th scope="row">Dockerfile</th>
        {% endif %}
        <th scope="row">Date</th>
        <th scope="row">Score</th>
    </tr>
    <tr>
        <th scope="row">
            <div class="centered">
                {{ data.name }}
            </div>
        </th>
        <td>
            <div class="centered">
                {% for package in data.trend[-1].versions %}
                    {{ package.name }}:&nbsp{{ package.version }}<br>
                {% endfor %}
            </div>
        </td>
        {% if data.dockerfile_link %}
            <td>
                <div class="centered">
                    <div>
                        <a href='{{ data.dockerfile_link }}' target="_blank" class="navigation svg-stroke">
                            {%include "svg_dockerfile.html" %}
                        </a>
                    </div>
                </div>
            </td>
        {% endif %}
        <td>
            <div class="centered">
              {{ data.trend[-1].date }}
            </div>
        </td>
        <td>
            <div class="centered">
                 <div class='{{data.coverage.mark}}'>
                    {{ "{:,.2f}%".format(data.coverage.passed) }}
                </div>
            </div>
        </td>
    </tr>
</table>
