<table class="table">
    <tr class="score-headers">
        <th scope="col">&nbsp</th>
        <th scope="row">Version</th>
        <th scope="row">Date</th>
        <th scope="row">Score</th>
        <th scope="row">Coverage</th>
        <th scope="row">Supported Ops</th>
        <th scope="row">Details</th>
    </tr>
    {% for backend, backend_data in database.items() %}
    <tr>
        <th scope="row">
            <div class="backend-summary">
                {% if backend_data.link %}
                    <a href='{{ backend_data.link }}' target="_blank" rel="noopener noreferrer" class="backend-link"{% if backend_data.description %} title="{{ backend_data.description }}"{% endif %}>{{ backend_data.name }}</a>
                {% else %}
                    <span class="backend-name"{% if backend_data.description %} title="{{ backend_data.description }}"{% endif %}>{{ backend_data.name }}</span>
                {% endif %}
            </div>
        </th>
        <td>
            <div class="centered">
                {% for package in backend_data.trend[-1].versions %}
                    {{ package.name }}:&nbsp{{ package.version }}<br>
                {% endfor %}
            </div>
        </td>
        <td>
            <div class="centered centered-date">
              <span data-utc-datetime="{{ backend_data.trend[-1].date }}">{{ backend_data.trend[-1].date }} UTC</span>
            </div>
        </td>
        <td>
            <div class="centered score-cell">
                 <div class='{{backend_data.coverage.mark}}'>
                    {{ "{:,.2f}%".format(backend_data.coverage.passed) }}
                </div>
            </div>
        </td>
        <td>
            <div class="centered">
                <div>
                    <canvas width="100" height="60" id='circle_{{ backend_data.name }}'></canvas>
                </div>
            </div>
        </td>
        <td>
            <div class="centered supported-ops-cell">
                {% if backend_data.coverage.total_ops > 0 %}
                    <div class="supported-ops-value">{{ backend_data.coverage.passed_ops }}/{{ backend_data.coverage.total_ops }}</div>
                {% else %}
                    <div class="supported-ops-value">-</div>
                {% endif %}
            </div>
        </td>
        <td>
            <div class="centered">
            {% if development_versions_selected %}
                <a href='{{ backend }}_details_dev.html'>
                    {%include "svg_arrow_right.svg" %}
                </a>
            {% else %}
                <a href='{{ backend }}_details_stable.html'>
                    {%include "svg_arrow_right.svg" %}
                </a>
            {% endif %}
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
