name: Run benchmarks

on:
  schedule:
    - cron: '0 0 * * *'
  pull_request:
    branches:
      - '**'

jobs:
  onnxruntime_stable:
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build docker image
        run: docker build -t scoreboard/ort -f runtimes/ort/stable/Dockerfile .

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.9.1
        with:
            ssh-private-key: |
                  ${{ secrets.DEPLOY_KEY }}

      - name: Git setup
        run: . setup/git-setup.sh

      - name: Run docker container
        run: docker run --name ort --env-file setup/env.list -v ${{ github.workspace }}/results/ort/stable:/root/results scoreboard/onnx || true

      - name: Deploy results
        if: ${{ github.event_name == 'schedule' }}
        run: . setup/git-deploy-results.sh

  onnx_tf_stable:
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build docker image
        run: docker build -t scoreboard/onnxtf -f runtimes/onnx-tf/stable/Dockerfile .

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}

      - name: Git setup
        run: . setup/git-setup.sh

      - name: Run docker container
        run: docker run --name onnxtf --env-file setup/env.list -v ${{ github.workspace }}/results/onnx-tf/stable:/root/results scoreboard/onnxtf || true

      - name: Deploy results
        if: ${{ github.event_name == 'schedule' }}
        run: . setup/git-deploy-results.sh


  onnx_tf_dev:
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build docker image
        run: docker build -t scoreboard/onnxtf-dev -f runtimes/onnx-tf/development/Dockerfile .

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}

      - name: Git setup
        run: . setup/git-setup.sh

      - name: Run docker container
        run: docker run --name onnxtf --env-file setup/env.list -v ${{ github.workspace }}/results/onnx-tf/development:/root/results scoreboard/onnxtf-dev || true

      - name: Deploy results
        if: ${{ github.event_name == 'schedule' }}
        run: . setup/git-deploy-results.sh


  jaxonnxruntime_stable:
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build docker image
        run: docker build -t scoreboard/jaxonnxruntime -f runtimes/jaxonnxruntime/stable/Dockerfile .

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}

      - name: Git setup
        run: . setup/git-setup.sh

      - name: Run docker container
        run: docker run --name jaxonnxruntime --env-file setup/env.list -v ${{ github.workspace }}/results/jaxonnxruntime/stable:/root/results scoreboard/jaxonnxruntime || true

      - name: Deploy results
        if: ${{ github.event_name == 'schedule' }}
        run: . setup/git-deploy-results.sh

  jaxonnxruntime_dev:
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          persist-credentials: true
          fetch-depth: 0
          clean: true

      - name: Build docker image
        run: docker build -t scoreboard/jaxonnxruntime-dev -f runtimes/jaxonnxruntime/development/Dockerfile .

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}

      - name: Git setup
        run: . setup/git-setup.sh

      - name: Run docker container
        run: docker run --name jaxonnxruntime --env-file setup/env.list -v ${{ github.workspace }}/results/jaxonnxruntime/development:/root/results scoreboard/jaxonnxruntime-dev || true

      - name: Deploy results
        if: ${{ github.event_name == 'schedule' }}
        run: . setup/git-deploy-results.sh
